@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* #################### NAVBAR #################### */
header {
  -webkit-box-shadow: 0px 3px 5 rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5 rgba(0, 0, 0, 0.3);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: black;
  z-index: 2;
}

nav {
  min-height: 10vh;
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

nav h1,
nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Work Sans";
}

nav ul {
  list-style: none;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.ref li {
  height: 30px;
  width: 30px;
}

/* #################### SECTIONS #################### */
section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dictionary {
  z-index: 1;
  font-family: 'Tinos', serif;
  cursor: pointer;
}

section h2 {
  font-size: 5rem;
  font-weight: 700;
  color: white;
}

section p {
  font-size: 15px;
  font-weight: 400;
  color: white;
  line-height: 20px;
}

.cogito {
  background: -webkit-gradient(linear, left bottom, right top, from(#1488cc), to(#2b32b2));
  background: linear-gradient(to right top, #1488cc, #2b32b2);
}

.video {
  background: -webkit-gradient(linear, left bottom, right top, from(#aa076b), to(#61045f));
  background: linear-gradient(to right top, #aa076b, #61045f);
}

.audio {
  background: -webkit-gradient(linear, left bottom, right top, from(#1d976c), to(#7cf7a9));
  background: linear-gradient(to right top, #1d976c, #7cf7a9);
}

.bubble {
  position: absolute;
  z-index: -2;
  opacity: 1;
  /* filter: blur(30px); */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: rotate 1s linear 0s infinite normal;
          animation: rotate 1s linear 0s infinite normal;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* #################### HIDDEN #################### */
#hidden-cogito {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2vw 1fr 1fr 1fr 1fr 1fr 1fr 2vw;
      grid-template-columns: 2vw 1fr 1fr 1fr 1fr 1fr 1fr 2vw;
  -ms-grid-rows: 2vw 1fr 1fr 1fr 1fr 2vw;
      grid-template-rows: 2vw 1fr 1fr 1fr 1fr 2vw;
  -webkit-column-gap: 5;
          column-gap: 5;
  row-gap: 5;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

#cogito-pic {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2 / 2 / 5 / 4;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  max-height: 100%;
}

#profile-text {
  -ms-grid-row: 5;
  -ms-grid-row-span: -3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: 5 / 5 / 2 / 8;
  color: black;
  font-family: 'Work Sans';
  font-size: 1.5rem;
}

#profile-resume {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 3 / 4 / 5 / 6;
  margin-top: 2.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  z-index: 2;
  font-size: 3rem;
  font-family: "Work Sans";
  font-weight: 900;
  text-decoration: none;
}

#hidden-video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

/* ################################################ */
/* #################### RESUME #################### */
/* ################################################ */
.cv-top {
  display: -ms-grid;
  display: grid;
  height: 50vh;
  width: 100vw;
  -ms-grid-columns: 1fr 10fr 1fr 6fr 2fr 8fr;
      grid-template-columns: 1fr 10fr 1fr 6fr 2fr 8fr;
  -ms-grid-rows: 1fr 2fr 2fr;
      grid-template-rows: 1fr 2fr 2fr;
}

#bg-top {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1 / 1 / 3 / 7;
  background-color: black;
  border-bottom: 5px solid #FBC403;
}

#profile-pic {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 4 / 3;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right top;
     object-position: right top;
  width: 100%;
  max-height: 100%;
  z-index: 1;
}

#text-top {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 2 / 4 / 3 / 7;
  color: white;
  font-family: 'Work Sans';
}

#left-slips {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3 / 3 / 4 / 5;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  text-align: right;
}

#right-slips {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 3 / 6 / 4 / 7;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.slip {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: white;
  font-family: 'Work Sans';
  font-weight: 100;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slip img {
  height: 70%;
  margin: 0px 15px 0px 15px;
}

/* Variables */
/* Fonts */
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

/* Layout */
* {
  -webkit-transform: box-sizing(border-box);
          transform: box-sizing(border-box);
}

/* Styling */
.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 46em;
}

.timeline:before {
  background-color: black;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
}

.timeline-event:hover .timeline-event-icon {
  -webkit-transform: rotate -45deg;
          transform: rotate -45deg;
  background-color: #a83279;
}

.timeline-event:hover .timeline-event-thumbnail {
  -webkit-transform: box-shadow(inset 40em 0 0 0 #a83279);
          transform: box-shadow(inset 40em 0 0 0 #a83279);
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
}

.timeline-event-copy h3 {
  font-size: 1.75em;
  font-weight: 300;
}

.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
  font-weight: 100;
}

.timeline-event-copy strong {
  font-weight: 900;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

.timeline-event-icon {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: rotate 45deg;
          transform: rotate 45deg;
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  -webkit-transition: -webkit-box-shadow 0.5s ease-in 0.1s;
  transition: -webkit-box-shadow 0.5s ease-in 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s, -webkit-box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  -webkit-transform: box-shadow(inset 0 0 0 0em #ef795a);
          transform: box-shadow(inset 0 0 0 0em #ef795a);
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}
/*# sourceMappingURL=style.css.map */