html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #################### NAVBAR #################### */



header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  background: rgb(0, 0, 0);
  z-index: 2;
}

nav {
  min-height: 10vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

}

nav h1, 
nav ul {
  flex: 1;
  font-family: "Work Sans";}

nav ul {
  list-style: none;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.5rem;
}

li {
  height: 30px;
  width: 30px;
}



/* #################### SECTIONS #################### */



section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dictionary {
  z-index: 1;
  cursor: pointer
}
section h2 {
  font-size: 5rem;
  font-weight: 700;
  color: white
}
section p {
  font-size: 15px;
  font-weight: 400;
  color: white;
  line-height: 20px;
}

.cogito { background: linear-gradient(to top, #1488cc, #2b32b2) }
.video { background: linear-gradient(to top, #aa076b, #61045f) }
.audio { background: linear-gradient(to top, #7cf7a9, #1d976c) }

.square {
  position: absolute;
  z-index: -2;
  opacity: 1;
  transition: all 0.5s;
  animation:rotate 5s linear 0s infinite normal;
}

  @-webkit-keyframes rotate {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @keyframes rotate {
  100%{ transform: rotate(360deg); }
  }



/* #################### HIDDEN #################### */

#hidden-cogito {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
}
#cogito-pic { 
  object-fit: fill;
  width: 100%;
  max-height: 100%;
}
#hidden-video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
}
