html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tinos', serif;
}



/* #################### NAVBAR #################### */



header {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    background: rgb(0, 0, 0);
    z-index: 2;
}

nav {
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

}

p {
    display: block;
    line-height: 2;
}

h1 {
    font-size: 2rem;
}

nav h1, 
nav ul {
    flex: 1;
    font-family: "Work Sans";}

nav ul {
    list-style: none;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
}

li {
    height: 30px;
    width: 30px;
}



/* #################### SECTIONS #################### */



section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dictionary {
    z-index: 1;
    cursor: pointer
}


section h2 {
    font-size: 5rem;
    font-weight: 700;
    color: white
}

section p {
    font-size: 15px;
    font-weight: 400;
    color: white;
    line-height: 20px;
}

.cogito { background: linear-gradient(to right top, #1488cc, #2b32b2) }
.video { background: linear-gradient(to right top, #aa076b, #61045f) }
.audio { background: linear-gradient(to right top, #1d976c, #7cf7a9) }

.bubble {
    position: absolute;
    z-index: -2;
    opacity: 1;
    /* filter: blur(30px); */
    transition: all 0.5s;
    animation:rotate 1s linear 0s infinite normal;
}

    @-webkit-keyframes rotate {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
    }
    @keyframes rotate {
    100%{ transform: rotate(360deg); }
    }



/* #################### HIDDEN #################### */

#hidden-cogito {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
    grid-template-columns: 2vw 1fr 1fr 1fr 1fr 1fr 1fr 2vw;
    grid-template-rows: 2vw 1fr 1fr 1fr 1fr 2vw;
    column-gap: 10px;
    row-gap: 10px;      
    opacity: 0;
    transition: opacity 1s ease;
}
.grid-fit {
    object-fit: cover;
    width: 100%;
    max-height: 100%;      
}
#profile-pic { 
    grid-area: 2 / 2 / 5 / 4 
}
#profile-text { 
    grid-area: 5 / 5 / 2 / 8;
    color: black;
    font-family: 'Work Sans';
    font-size: 1.5rem;
}
#profile-resume {
    grid-area: 3 / 4 / 5 / 6;
    margin-top: 2.5rem;
    justify-self: center;
    z-index: 2;
    font-size: 3rem;
    font-family: "Work Sans";
    font-weight: 900;
    text-decoration: none;
}



#hidden-video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
}
