html {
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  box-sizing: border-box;
}
html::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

/* #################### NAVBAR #################### */



header {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  background: rgb(0, 0, 0);
  z-index: 2;
}

.index-nav {
  min-height: 10vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

nav ul {
  width: 50vw;
  list-style: none;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
}

.nav-text li {
  height: 30px;
  width: 30px;
}



/* #################### SECTIONS #################### */



section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dictionary {
  z-index: 1;
  cursor: pointer;
}
.dictionary a {
  font-family: Tinos;
  font-size: 5rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.dictionary p {
  font-family: Tinos;
  font-size: 15px;
  color: white;
  line-height: 20px;
  font-weight: 100

}

.cogito { background: linear-gradient(to top, #1488cc, #2b32b2) }
.video { background: linear-gradient(to top, #aa076b, #61045f) }
.audio { background: linear-gradient(to top, #53e98a, #1a835e) }

.square {
  position: absolute;
  z-index: -2;
  opacity: 1;
  transition: all 0.5s;
  animation:rotate 5s linear 0s infinite normal;
}

  @-webkit-keyframes rotate {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @keyframes rotate {
  100%{ transform: rotate(360deg); }
  }



/* #################### HIDDEN #################### */

.hidden-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease;
  background: black;
}
.svg-show {
  width: 100px;
  height: 100px;
  position: absolute;
  filter: invert(100);
  margin-left: -100px;
  transition: margin 500ms ease;
}

.hidden-bg { 
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  opacity: 0.5;
  filter: blur(10px)
}
#hidden-video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
}



/* ----------------------------------------------- RESUME */


* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #f38181;

}

.side {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 50px;
  border-right: 1px dashed rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}
.side:hover {
  color: rgba(0, 0, 0, 0.5);
}
.side .side__inner {
  position: relative;
  height: 100%;
  white-space: nowrap;
}
.side a {
  color: inherit;
  word-spacing: 0;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}
.side .top, .side .bottom {
  position: absolute;
  left: 0;
  transform: rotate(-90deg) perspective(1px);
  transform-origin: 50px 50px;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  word-spacing: 0.5rem;
}
.side .top {
  top: 30px;
  text-align: right;
  color: black;
}
.side .bottom {
  top: auto;
  bottom: 100px;
}
.side .bottom:hover a {
  color: rgba(0, 0, 0, 0.2);
}
.side .bottom:hover a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.anchornav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.anchornav li {
  display: block;
}
.anchornav li::after {
  content: "";
  width: 1.3rem;
  display: block;
  height: 2px;
  background: black;
}
.anchornav li:last-child::after {
  display: none;
}
.anchornav a {
  display: block;
  padding: 1em 0;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: inherit;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}
.anchornav a span {
  display: inline;
  padding: 0.5em 0 0;
  opacity: 0.3;
  letter-spacing: normal;
  text-transform: none;
}
.anchornav a:hover {
  color: #de5f5f;
}
.anchornav a:hover span {
  opacity: 1;
  color: #181818;
}

.section {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-height: 60vh;
  align-content: center;
  padding: 20vh 50px 20vh 75px;
}
.section svg {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
}
.section svg.bottom {
  bottom: 0;
  top: auto;
  fill: grey;
}

.section .section__inner {
  height: 100%;
  max-width: 750px;
  margin: auto auto auto 0;
}
.section .section__inner2 {
  height: 100%;
  width: 100%;
  margin: auto auto auto 0;
}
.card {
  background-color: white;
  border: 2rem solid white;
  border-radius: 1rem;
  margin-bottom: 3rem;
  box-shadow: 2rem 2rem 0 0 rgba(0,0,0,0.75);
  line-height: 1.6
}
.card h1, .flexbox h3 {
  text-decoration: underline solid #FBC403;
  font-weight: bold;
}
.card h1, .block h1 {
  font-size: 4.5rem;
}
.card li {
  list-style: none;
  font-weight: 200;
  margin-bottom: 0.5rem;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flexbox .card {
  width: 20rem;
  margin-right: 2rem;
}

/* Sections color layout */
.section.section--hello {
  background-color: #FFDF64;
  color: #181818;
}
.section.section--profile {
  background-color: black;
  color: white;
}
.section.section--experience {
  background-color: #ffefc2;
  color: black;
}
.section.section--experience svg {
  fill: #ffefc2;
}
.section.section--education {
  background-color: #625772;
  color: white;
}
.section.section--education svg {
  fill: #625772;
}
.section.section--portfolio {
  background-color: orange;
  color: white;
}
.section.section--portfolio svg {
  top: -20px;
  fill: orange;
}
.section.section--portfolio svg.bottom {
  top: auto;
  bottom: -50px;
}
.section.section--portfolio1 {
  background-color: #f38181;
  color: black;
}
.section.section--portfolio1 svg {
  top: -50px;
  fill: #f38181;
}
.section.section--contact svg {
  fill: white;
}

.subtitle {
  margin-bottom: 3rem;
  font-weight: 400;
}
.pre {
  display: inline-block;
  margin: 0;
  opacity: 0.8;
  letter-spacing: 1.4px;
  word-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: inherit;
}
.pre span {
  margin-right: 0.4em;
  opacity: 0.5;
}
.pre a {
  color: black !important;
}
.pre:hover {
  opacity: 1;
}
.lead {
  display: block;
  font-weight: 100;
  margin: 0;
  padding-bottom: 2rem;
}
.card h3 {
  font-size: 2rem;
}
.pre, .side, .anchornav a {
  font-size: 0.75rem;
}
.subtitle, .lead, li, .nav-text a {
  font-size: 1.7rem;
}
#portfolio .block {
  display: inline-block;
  width: 100%;
}
.section--profile h1 {
  margin-bottom: 2.5rem;
}
.section--profile p {
  font-weight: 100;
}
.section .section--portfolio1 .block {
  max-width: 1400px !important;
}
